body {
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}

.container {
	margin:auto;
}

h1 {
	display: inline;
}


em {
	margin-top: 1em;
	color: rgb(74,73,80);
	font-style: normal;
}

.trigger {
	width:200px;
	height:200px;
	background-color: black;
	border:20px solid #ddd;
}

.box {
	display: inline-block;
	width:200px;
	height:200px;
	background-color: pink;
	transition: transform 300ms ease-in-out;
	pointer-events: none;
}

.sun {
	background: orange;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	top:15%;
	left:30%;
	margin: auto;
	animation: radiance 3s infinite linear;
}

@keyframes radiance {
    to   {
    	transform: translateX(50px)
    }
}


.sky {
	width: 500px;
	height: 300px;
	position: relative;
	margin: auto;
	overflow: hidden;
	background: linear-gradient(rgb(20,36,60),rgb(30,55,93));
}

.wave {
	top:200px;
	height: 60px;
	left:-100px;
	position: relative;
	animation: water 1s linear infinite;
}

@keyframes water {
	from { 
		transform: rotate(0deg) translateX(5px) rotate(0deg);
	}
	to { 
		transform: rotate(360deg) translateX(5px) rotate(-360deg);
	}
}

.boat {
	width: 250px;
	top:-190px;
	position: relative;
	transform: rotate(-5deg);
}

.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.moon-pos {
  position: relative;
  width: 12em;
  height: 12em;
  -webkit-border-top-left-radius: 12em;
  -webkit-border-top-right-radius: 12em;
  -webkit-border-bottom-right-radius: 12em;
  -webkit-border-bottom-left-radius: 12em;
  -moz-border-radius-topleft: 12em;
  -moz-border-radius-topright: 12em;
  -moz-border-radius-bottomright: 12em;
  -moz-border-radius-bottomleft: 12em;
  border-top-left-radius: 12em;
  border-top-right-radius: 12em;
  border-bottom-right-radius: 12em;
  border-bottom-left-radius: 12em;
  background: #fffdd0;
}

.moon-neg {
  position: absolute;
  top: 0;
  right: 0;
  width: 9em;
  height: 9em;
  -webkit-border-top-left-radius: 9em;
  -webkit-border-top-right-radius: 9em;
  -webkit-border-bottom-right-radius: 9em;
  -webkit-border-bottom-left-radius: 9em;
  -moz-border-radius-topleft: 9em;
  -moz-border-radius-topright: 9em;
  -moz-border-radius-bottomright: 9em;
  -moz-border-radius-bottomleft: 9em;
  border-top-left-radius: 9em;
  border-top-right-radius: 9em;
  border-bottom-right-radius: 9em;
  border-bottom-left-radius: 9em;
  background: #030327;
}


.fan {
	display: inline-block;
	width:100px;
	height:100px;
	position:relative;
	margin:auto;
	animation-name: myframes; 
	animation-duration: 3s; 
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

@keyframes myframes {
	0% {
		transform: rotate(360deg);
}

.trigger.clicked .box{
	transform: translate(200px,150px) rotate(20deg);
}


