body {
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
}

.container {
	margin:auto;
}

.sun {
	background: orange;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	top:15%;
	left:30%;
	margin: auto;
	animation: radiance 3s infinite linear;
}

.sky {
	width: 500px;
	height: 300px;
	position: relative;
	margin: auto;
	overflow: hidden;
	background: linear-gradient(rgb(43,58,80),rgb(53,75,109));
}

.wave {
	height: 60px;
	top:-310px;
	left:-130px;
	position: relative;
	animation: water 1s linear infinite;
	z-index: 4;
}

@keyframes water {
	99.8% { 
		transform: translateX(-71px);
		opacity: 1;
	}
	99.9% {
		transform: translateX(0px);
		opacity: 0.4;
	}

	100% {
		opacity:1;
	}
}

.moon {
	position: relative;
	top: 50px;
	left: 70px;
	z-index: 10;
	width: 50px;
	height: 50px;
}

.boatbox {
	height: 100px;
	width:300px;
	position:relative;
	left:130px;
	top:140px;
}

.boat {
	height: 250px;
	top:-160px;
	left:-250px;
	position: relative;
	transform: rotate(-4deg);
	animation: rocking 1s linear infinite;
	z-index: 3;
}

.boatbox:hover .boat{
	animation: speedboat 5s ease-out;
} 

.boatbox:hover .man{
	animation: speedboat 5s ease-out;
}

.boatbox:hover .wave{
	animation: water 300ms linear infinite;
}


@keyframes speedboat {
	10%, 90%{
		transform: rotate(-6deg) translate(30px,10px);
	}
}


@keyframes rocking {
	50% {
		transform: rotate(-1deg);
	}
}

.man {
	width: 100px;
	top:-300px;
	left:-100px;
	position: relative;
	transform: rotate(-4deg);
	animation: rocking 1s linear infinite;
	z-index: 2;
}




.moon-pos {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius:50%;
	background: #fffdd0;
}

.moon-neg {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: linear-gradient(rgb(44,59,82),rgb(45,62,87));
}