<div class="container-fluid large-blank-vertical-space"></div>
        
<div class="container-fluid card footer">
  <h3 class="menu">Contact Details</h3>
    <div class="row">
      <div class="col-sm-7">        
        <h5>
          Telephone: <small>+44 7519 213081</small><br>
          Email: <small>quangnguyen30795@gmail.com</small> 
        </h5>
      </div>

      <div class="col-sm-3 text-center" style="vertical-align: middle;"> 
        <h5>
          &copy Quang Nguyen
        </h5>
      </div>
    </div>
</div>