---
layout: main-page
---


<!-- Main writing space -->
<div class="container-fluid" style="position:relative; padding-left:10%;padding-right:10%;">
  <!-- Title -->
  <div class="container-fluid card text-center">
          <h1>{{ page.title }}</h1>
  </div>

 <!-- Blank empty space -->
  <div class="container-fluid blank-vertical-space"></div>

  <!-- Picture -->
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-3 col-xs-2"></div>
          
          <div class="col-md-4 col-sm-6 col-xs-8">
              <div class="circle-avatar static-shadow" style="background-image:url(/images/selfie.png); height: 57px; "></div>
            </div>
          <div class="col-md-4 col-sm-3 col-xs-2"></div>
      </div>
  </div>

  <!-- Blank empty space -->
  <div class="container-fluid blank-vertical-space"></div>

  <!-- Main Content -->
  <div class="container-fluid card-text">
    {{content}}
  </div>

</div>