---
layout: main-page
---

<div class="container-fluid card text-center">
        <h3>Search</h3>
</div>


<!-- Blank empty space -->
<div class="container-fluid blank-vertical-space"></div>

{{content}}

{% for post in site.posts limit:2 %}

<a href='{{ post.url | prepend: site.baseurl }}'>  
    <div class="container-fluid card-text">
        <div class="row">
            <div class="col-md-5 text-center">
                <h3 class="heading">{{ post.title }}<br><small>Posted {{ post.date | date: "%b %-d, %Y" }}</small></h3>
            </div>
            
            <div class="col-md-7" style="padding-top: 0px;">
                <p>{{ post.excerpt }}</p>
                <footer>
                    <ul class="actions">
                        <li><a href="{{ post.url | prepend: site.baseurl }}" class="button icon fa-file-text">Continue Reading</a></li>
                    </ul>
                </footer>
            </div> 
        </div>
    </div>
</a> 

{% endfor %}